.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a {
  color: #000;
  text-decoration: none;
}
a.active {
  color: orangered;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .container {
  display: flex;
}
.container .nav {
  width: 120px;
}
.container .main {
  flex: 1;
} */
/* .navw{
  position: absolute;
  left: 0;
  bottom: 0;
} */
.navv{

  display: flex;
  justify-content: space-around;
  /* background-color: #efefef; */
}

.movieStyle{
  display: flex;
  flex-wrap: wrap;
}
.movieStyle > a{
  display: flex;
  margin-left: 3px;
  flex-wrap: wrap;
}
.ant-card{
  width: 50%;
}

.ant-card-meta-description{
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.ant-card-bordered{
  margin: 3px;
  width: 0;
}
.ant-card-cover img{
  width: 100%;
}
.nav{
  margin-top: 5px;
  margin-bottom: 10px;
}

.active{
  color: #61dafb;
}